UNKEY_PROJECT_ISSUE_SEARCH_CURL=
FORMBRICKS_PROJECT_ISSUE_SEARCH_CURL=
HANKO_PROJECT_ISSUE_SEARCH_CURL=
OPENBB_PROJECT_ISSUE_SEARCH_CURL=
TWENTY_PROJECT_ISSUE_SEARCH_CURL=
PAPERMARK_PROJECT_ISSUE_SEARCH_CURL=
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=
SLEEP_DURATION=